body{
    margin: 0;
    background-color: #EE4F5B;
}
.fuente{
    font-family: sans-serif;
}
.tamanoFuente{
    font-size: 30px;
}
.tamanoFuente1{
    font-size: 40px;
}
.tamanoFuente2{
    font-size: 20px;
}
.colorFuente{
    color:white;
}
.colorFuenteNegra{
    color:black;
}
nav{
    width: 100%;
    height: 20%;
    background-color:#8F000A; 
    display: inline-flex;
    justify-content: center;
}
nav ul li a{
    padding:30px;
    background-color:#DE2734;
    color:white;
    font-weight: 200;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #FA7A83;
}
.contenedorNav{
    position:relative;
    width: 100%;
    display:inline-flex;
    position: fixed;
    justify-content: center;
    flex-direction: row;
}
nav ul li {
    list-style: none;
    display: inline-flex;
}
.contenedor2{
    width: 100%;
    height:400px;
    display: flex;
    justify-content: center;
    background-image: url(/curso-programacion.jpg);
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
parrafo1{
    display: flex;
    align-self: center;
    font-family: 'Palanquin Dark';
    position:absolute;
    align-self: center;
    padding-top: 60%;
}
.primerRow{
    width: 100%;
    height: 300px;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
}
.imagenesSec3-1{
    display: inline-flex;
    width: 300px;
    height: 300px;
    align-self: center;
    padding-left: 100px;
    padding-top: 100px;
}
.segundoRow{
    width: 100%;
    align-items: center;
}
.parrafo1Sec3{
    width: 70%;
    padding-left: 100px;
    display: inline-flex;
    padding-top: 100px;
    text-align: justify;
    margin-right: 100px;
}
.parrafo2Sec3{
    width: 70%;
    display: inline-flex;
    padding-left: 100px;
    align-self: center;
    align-items: center;
    text-align: justify;
}
.imagenesSec3-2{
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    
}
.contenedorSec3{
    display: flex;
    justify-content:center;
    width: 100%;
}
.contenedorSec4{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.contenedorLetrero{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.centrado{
    text-align: center;
}
.letrero{
    color:pink;

}
.contenedorVideo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.contenedor5{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: beige;
    align-items: center;
}

.formulario{
    width: 20%;
    justify-content: space-between;
}
.primerEntrada{
    margin: 20px;
    width: 200px;
}
.segundaEntrada{
    margin: 20px;
    width: 200px;
}
.terceraEntrada{
    margin: 20px;
    width: 200px;
}
.boton{
    margin: 20px;
    width: 200px;
    background-color:#8F000A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 20px;
    margin-left: 25px;   
    margin-bottom: 50px;
}
.contenedorFooter{
    display: flex;
    width: 100%;
    height: 100px;
    background-color:#8F000A;
    justify-content: center;
    align-items: center;
}
.contenedorVideo{
    margin-bottom: 10%;
}
.contenedor4{
    width: 100%;
    height: 500px;
}
/* Comienza código para Breakpoints */
@media  (max-width: 700px){
    .contenedorSec3{
      display:none;
    }
    .contenedorSec4{
      display:none;
    }
    .contenedor4{
        background-color: white;
        color:black;
    }
    .contenedor5{
        background-color:crimson;
        color:white;
    }
    .letrero{
     color:deeppink;
    }
}
@media  (max-width: 700px){
 /* Add a black background color to the top navigation */
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
} 
}
