body{
    margin: 0;
    background-color: #EE4F5B;
}
.fuente{
    font-family: sans-serif;
}
.tamanoFuente{
    font-size: 30px;
}
.colorFuente{
    color:white;
}
nav{
    width: 100%;
    height: 20%;
    background-color:#8F000A; 
    display: inline-flex;
    justify-content: center;
}
nav ul li a{
    padding:30px;
    background-color:#DE2734;
    color:white;
    font-weight: 200;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #FA7A83;
}
.contenedorNav{
    position:relative;
    width: 100%;
    display:inline-flex;
    position: fixed;
    justify-content: center;
    flex-direction: row;
}
nav ul li {
    list-style: none;
    display: inline-flex;
}
.contenedor2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
parrafo1{
    font-family: 'Palanquin Dark';
    font-size: 25px;
    position:absolute;
    align-self: center;
}
.imagenSec1{
    width: 300px;
}

